@charset "utf-8";

// colors
// https://www.colorcombos.com/color-schemes/108/ColorCombo108.html
$body-background-color: #630;
$primary: #C60;
$danger: #C90;
$warning: #330;

// table styling
$table-color: #330;
$table-background-color: #C90;
$table-cell-border-width: 0 0 0;

// link
$link: #330;

// BULMA BULMA BULMA
@import "bulma-0.7.5/sass/utilities/_all.sass";
@import "bulma-0.7.5/sass/base/_all.sass";

@import "bulma-0.7.5/sass/elements/button.sass";
@import "bulma-0.7.5/sass/elements/container.sass";
@import "bulma-0.7.5/sass/elements/image.sass";
@import "bulma-0.7.5/sass/elements/title.sass";
@import "bulma-0.7.5/sass/elements/table.sass";
@import "bulma-0.7.5/sass/elements/other.sass";

@import "bulma-0.7.5/sass/components/navbar.sass";
@import "bulma-0.7.5/sass/components/level.sass";
@import "bulma-0.7.5/sass/components/modal.sass";

@import "bulma-0.7.5/sass/form/shared.sass";
@import "bulma-0.7.5/sass/form/tools.sass";
@import "bulma-0.7.5/sass/form/input-textarea.sass";

@import "bulma-0.7.5/sass/layout/section.sass";
