<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://pieceof.sh"><b>PIECE OF </b> 💩</a>
      </div>
    </nav>

    <br/>
    <br/>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
