{% extends 'base.j2.html' %}

{% block content %}
  {# shit header #}
  <center>
    <h1 class="title is-1 has-text-primary">Is there a specific</h1>
    <img class="image is-128x128" src='{{ url_for('static', filename='sh.png') }}'/>
    <h1 class="title is-1 has-text-primary">you are looking for?</h1>

    {# text field that goes to a specific-topic page #}
    <form action="/redirect" method="post" class="form">
      <div class="level">
        <input pattern=".+" required type="text" name="topic" class="input is-large is-primary"/>
        <button type="submit" class="button is-large is-primary">Go!</button>
      </div>
    </form>

    {# TODO: idea - random existing topic #}
    {# TODO: idea - list some popular topics #}

  </center>
{% endblock %}
