  {# script to show and hide reason card #}
  <script>
    function getCard() {
      return document.getElementById("reasoncard");
    }
    function showCard() {
      getCard().classList.add("is-active");
    }
    function hideCard() {
      getCard().classList.remove("is-active");
    }
  </script>

  {# modal reason card #}
  <div class="modal" id="reasoncard">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"><b>+</b> Add a reason</p>
        {# TODO: fix icon here #}
        <button class="delete" onclick="hideCard()" aria-label="close"></button>
      </header>

      <form class="form" action="/new_reason" method="post">
        <section class="modal-card-body">
          <label class="label is-large" for="text">Why?</label>
          {# text #}
          <input required class="input is-medium" type="text" name="text" id="text" pattern=".{2,80}" title="Enter 2-80 characters" placeholder="Just because?"/>
          <br>
          <br>
          {# link #}
          <label class="label is-small" for="link">(Optional: add a link)</label>
          <input class="input is-small" type="url" name="link" id="link" placeholder="https://..."/>
        </section>

        <footer class="modal-card-foot">
          <button class="button is-primary" type="submit">Submit</button>
          <button class="button" onclick="hideCard()">Cancel</button>
        </footer>
      </form>
    </div>
  </div> {# // reason card #}
