{% extends 'base.j2.html' %}


{% block content %}
  {% include 'reasoncard.j2.html' %}

  {# shit header #}
  <center>
    <section class="section">
        <h1 class="title is-1 has-text-primary">Yes, <br/> {{ topic }} <br/> is a piece of</h1>
        <img class="image is-128x128" src='{{ url_for('static', filename='sh.png') }}'/>
    </section>

    {# list of shitty reasons #}
    <section class="section">
      <table class="table is-narrow">
        <tr>
          <td colspan="3">
            <h1 class="title is-5 has-text-warning">
              Because...
            </h1>
          </td>
        </tr>

        {% if not reasons %}
          <tr>
            <td/>
            <td>Nobody has added a reason yet.</td>
          </tr>
        {% endif %}

        {% for reason in reasons %}
          <tr>
            <td>
              <form action="{{ url_for('views.vote', reason_uuid=reason.uuid) }}" method="post">
                <input class="button is-small is-primary" type="submit" value="▲"/>
              </form>
            </td>

            <td>{{ reason.votes }}</td>

            <td>
              {% if reason.link %}
                <a href="{{ reason.link }}"> {{ reason.text }} </a>
              {% else %}
                {{ reason.text }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>

    {# TODO: hook button up to modal card #}
    <button class="button is-large is-fullwidth is-primary" onclick="showCard()">+ Add a reason</button>
  </center>

{% endblock %}
